.hidden{
    display: none;
}
.js-open-nav-tab{
    padding-top: 45vh;
    padding-bottom: 45vh;
}
.closed-nav{
    height: 100vh;
    line-height: 100vh;
    margin-top: -60px;
    /*padding-top: 28px;*/
    color: white;
}
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 50px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
#main{
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 50px;
}
#main > header{
    /*height: 40px;
    line-height: 40px;*/
    height: 5vh;
    line-height: 5vh;
    font-size: 22px;
    font-weight: bold;
}
.page-options{
    display: inline-block;
    height: 5vh;
    vertical-align: middle;
}
.page-options button:first-child{
    float: left;
}
.page-options button:last-child{
    float: right;
}

.main-visual{
    /*background-image: url("../images/soccer-half.jpg");
    background-repeat: no-repeat;*/
    /*background-size:cover;*/
    /*width: 100%;
    height: 90vh;*/
    margin-left: -20px;
    margin-right: -20px;
}
/* Changed to table.*/
/*.playerlist-header{
    height: 80px;
    /*padding-top: 13px;
    padding-bottom: 13px*/
/*}
.player-entry{
    border: 1px solid black;
    border-bottom: none;
    height: 80px;
}
.js-team > :last-child{
    border-bottom: 1px solid black;
}
.player-field{
    height: 100%;
    border-right: 1px solid black;
    padding: 2px;
    text-align: center;
    line-height: 66px;
}
.playerlist-header{
    text-align: center;
}
.player-entry > :last-child{
    border-right: none;
}*/
.js-update-button{
    width: 100%;
    height: 100%;
}
.js-delete-button{
    width: 100%;
    height: 100%;
}
/*This needs to be percentage based by number of rows*/
.select-type{
    /*line-height: 5vh;*/
}
.select-container{
    height: 5vh;
    display: inline-block;
}
.roster-select-container, .formation-select-container{
    display: inline-block;
}
.formation-select-container{
    margin-left: 5px;
}
.js-visual-container{
    min-height: 90vh;
    width: 100%;

    background-image: url("../images/soccer-half.jpg");
    background-repeat: no-repeat;
    background-size:100% 100%;
    /*background-size:cover;*/
    /*width: 100%;
    height: 90vh;*/
}
/*.js-visual-container .row{
    height: 50px;
}*/
.visual-position{
    text-align: center;
    height: 100%;
    line-height: 50px;
}
.js-visual-container .layers-1{
    height: 90vh;
}
.js-visual-container .layers-2{
    height: 45vh;
}
.js-visual-container .layers-3{
    height: 30vh;
}
.js-visual-container .layers-4{
    height: 22.5vh;
}
.js-visual-container .layers-5{
    height: 18vh;
}
.js-visual-container .layers-6{
    height: 15vh;
}
.js-visual-container .layers-7{
    height: 12.85714vh;
}
.js-visual-container .layers-8{
    height: 11.25vh;
}
.js-visual-container .layers-9{
    height: 10vh;
}
.js-visual-container .layers-10{
    height: 9vh;
}
.js-visual-container .layers-11{
    height: 8.18.18vh;
}
/*.js-visual-container .layers-1{
    height: 100vh;
}
.js-visual-container .layers-2{
    height: 50vh;
}
.js-visual-container .layers-3{
    height: 33.333vh;
}
.js-visual-container .layers-4{
    height: 25vh;
}
.js-visual-container .layers-5{
    height: 20vh;
}
.js-visual-container .layers-6{
    height: 16.666vh;
}
.js-visual-container .layers-7{
    height: 14.2857vh;
}
.js-visual-container .layers-8{
    height: 12.5vh;
}
.js-visual-container .layers-9{
    height: 11.111vh;
}
.js-visual-container .layers-10{
    height: 10vh;
}
.js-visual-container .layers-11{
    height: 9.09090vh;
}*/
/* This is the left side draggable content CSS*/
.player-positions header{
    text-align: center;
    color: white;
    font-weight: bold;
}
.player-positions ul{
    padding: 8px 32px 8px 32px;
    width: 250px;
}
.position{
    position: relative;
    list-style: none;
    border: 2px dotted white;
    text-align: center;
    margin-bottom: 5px;
    color: white;
}
.player-filled{
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
}
.slot-filled{
    border: 2px solid white;
}
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
main {
    transition: margin-left .5s;
    padding: 20px;
}

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}