.hidden{
    display: none;
}
.center-text{
    text-align: center;
}
.closed-nav{
    /*height: 100%;
    line-height: 100vh;*/
    position: fixed;
    padding-top: 47vh;
    text-align: center;
    width: 50px;
    height: 100%;
    font-size: 18px;
    color: white;
    /*padding-top: 25%;*/
    /*margin-top: -60px;*/
}
/*.closed-nav{
    height: 50vh;
    line-height: 100vh;
    margin-top: -60px;
    padding-top: 28px;
    color: white;
}*/
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 50px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    /*z-index: 1;*/ /* Stay on top */
    z-index: 20000;
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.position-header{
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    color: white;
    padding-left: 2px;
    padding-right: 2px;
    border-bottom: 1px solid white;
    margin-bottom: 10px;
}
#main{
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 50px;
}
#main > header{
    /*height: 40px;
    line-height: 40px;*/
    height: 5vh;
    line-height: 5vh;
    font-size: 22px;
    font-weight: bold;
}
section > header span{
    color: black;
}
.page-options{
    display: inline-block;
    /*height: 5vh;
    line-height: 5vh;*/
    /*vertical-align: middle;*/
}
/*.visual-section label:last-child{
    margin-left: 5px;
}*/
.js-roster-list-container, .js-formation-list-container{
    display: inline-block;
}
.roster-label, .formation-label{
    font-weight: bold;
}
.formation-label{
    margin-left: 5px;
}
.save-button{
    /*margin-left: 10px;*/
}
.page-options button:first-child{
    float: left;
}
.page-options button:last-child{
    float: right;
}
.team-section > header, .roster-section > header, .formations-section header{
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid black;
}
.main-visual{
    /*background-image: url("../images/soccer-half.jpg");
    background-repeat: no-repeat;*/
    /*background-size:cover;*/
    /*width: 100%;
    height: 90vh;*/
    margin-left: -20px;
    margin-right: -20px;
}
.nav-dropdown{
    position: fixed;
    top: 0;
    right: 10px;
    z-index: 10000;
}
.visual-section .dropdown{
    display: inline-block;
}
/*.visual-section header{
    height: 5vh;
    line-height: 5vh;
}*/
.team-section header, .roster-section header, .formations-section header{
    margin-bottom: 10px;
}
section header{
    height: 5vh;
    line-height: 5vh;
}
/*.new-roster-option{
    font-weight: bold;
    border-bottom: 1px dotted black;
}*/
/* Changed to table.*/
/*.playerlist-header{
    height: 80px;
    /*padding-top: 13px;
    padding-bottom: 13px*/
/*}
.player-entry{
    border: 1px solid black;
    border-bottom: none;
    height: 80px;
}
.js-team > :last-child{
    border-bottom: 1px solid black;
}
.player-field{
    height: 100%;
    border-right: 1px solid black;
    padding: 2px;
    text-align: center;
    line-height: 66px;
}
.playerlist-header{
    text-align: center;
}
.player-entry > :last-child{
    border-right: none;
}*/
/*For updating and deleting lists*/
/*.js-update-button{
    width: 100%;
    height: 100%;
    line-height: 100%;
}
.js-delete-button{
    width: 100%;
    height: 100%;
    line-height: 100%;
}*/
/*.roster-action-field{
   line-height: 100%; 
}
.table>tbody>tr>td.roster-action-field{
    line-height: 100%; 
}*/
/*.table tbody>tr>td.vert-align{
    vertical-align: middle;
}*/
.table tbody>tr>td{
    vertical-align: middle;
}
.player-action-field, .roster-action-field{
    text-align: center;
    font-size: 22px;
}
.js-update-button, .js-delete-button, .js-roster-row-update-button, .js-roster-row-delete-button{
    cursor: pointer;
}
.js-update-button, .js-roster-row-update-button{
    color: green;
}
.js-delete-button, .js-roster-row-delete-button{
    color: red;
}

/*This needs to be percentage based by number of rows*/
.select-type{
    /*line-height: 5vh;*/
}
.select-container{
    height: 5vh;
    display: inline-block;
}
.roster-select-container, .formation-select-container{
    display: inline-block;
}
.formation-select-container{
    margin-left: 5px;
}
.js-visual-container{/*, .formation-listing, .team, .rosters*/
    min-height: 90vh;
    width: 100%;

    background-image: url("../images/soccer-half.jpg");
    background-repeat: no-repeat;
    background-size:100% 100%;
    /*background-size:cover;*/
    /*width: 100%;
    height: 90vh;*/
}
/*.formation-listing, .team, .roster-section{
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
}*/
.js-visual-container .row{
    padding-left: 5%;
    padding-right: 5%;
}
.five-positions{
    width: 20%;
}
/*.five-positions:first-child{
    margin-left: 8.333%;
}
.five-positions:last-child{
    margin-right: 8.333%;
}*/
.seven-positions{
    width: 14.2857%;
}
.eight-positions{
    width: 12.5%;
}
.nine-positions{
    width: 11.111%;
}
.ten-positions{
    width: 10%;
}

.js-visual-container .row{
    /*height: 50px;
    padding: auto;*/
}
.visual-position-container{
    display: table;
    text-align: center;
    margin: 0 auto;
    height: 90%;
    /*height: 100%;*/
    /*line-height: 50px;*/
    padding: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    /*padding-top: 5px;
    padding-left: 5%;
    padding-right: 5%;*/
    /*max-width: 175px;*/
}
div.col-xs-12.visual-position-container{
    padding-left: 25%;
    padding-right: 25%;
}
.visual-position{
    display: table-cell;
    vertical-align: middle;
    border-radius: 50px;
    /*width: 50%;
    margin: 0 auto;
    padding: 5px;*/
    /*max-width: 231px;*/
}
.js-visual-container .row{
    margin-left: 0;
    margin-right: 0;
}
.js-visual-container .layers-1{
    height: 90vh;
}
.js-visual-container .layers-2{
    height: 45vh;
}
.js-visual-container .layers-3{
    height: 30vh;
}
.js-visual-container .layers-4{
    height: 22.5vh;
}
.js-visual-container .layers-5{
    height: 18vh;
}
.js-visual-container .layers-6{
    height: 15vh;
}
.js-visual-container .layers-7{
    height: 12.85714vh;
}
.js-visual-container .layers-8{
    height: 11.25vh;
}
.js-visual-container .layers-9{
    height: 10vh;
}
.js-visual-container .layers-10{
    height: 9vh;
}
.js-visual-container .layers-11{
    height: 8.18.18vh;
}
.js-visual-container .goalie-layer{
    height: 8vh;
}
/*.js-visual-container .layers-1{
    height: 100vh;
}
.js-visual-container .layers-2{
    height: 50vh;
}
.js-visual-container .layers-3{
    height: 33.333vh;
}
.js-visual-container .layers-4{
    height: 25vh;
}
.js-visual-container .layers-5{
    height: 20vh;
}
.js-visual-container .layers-6{
    height: 16.666vh;
}
.js-visual-container .layers-7{
    height: 14.2857vh;
}
.js-visual-container .layers-8{
    height: 12.5vh;
}
.js-visual-container .layers-9{
    height: 11.111vh;
}
.js-visual-container .layers-10{
    height: 10vh;
}
.js-visual-container .layers-11{
    height: 9.09090vh;
}*/
/*Modal*/
.modal{
    /*z-index: 10001;*/
    z-index: 30000;
}
#myFormationModal h5, .layer-dropdown{
    display: inline-block;
}
#myWarningModal .modal-header{
    background-color: yellow;
}
#myErrorModal .modal-header{
    background-color: red;
}
/*Rosters*/
/*.rosters .row{
    height: 100px;
    line-height: 50px;
    text-align: center;
    margin-top: 5px;
}*/
/*.rosters .row > div{
    height: 100%;
}
.roster{
    height: 100%;
    border: 1px inset black;
    padding: 2px;
}
.roster div{
    height: 100%;
}*/
.modal-body{
    padding-top: 0px;
}
.error-message{
    background-color: red;
    font-weight: bold;
    text-align: center;
    color: white;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: -1px;
}
/*Formations*/
.formation-listing .row{
    height: 100px;
    /*line-height: 100px;*/
    text-align: center;
    margin-top: 10px;
}
.formation-listing .row:first-child{
    margin-top: 0;
}
.formation{
    /*padding-top: 43px;*/
    position: relative;
    overflow-y: hidden;
    height: 100px;
    border: 1px inset black;
}
.formation-name-text{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);   
}
.js-formation-listing .ui-selecting { background: #FECA40; }
.js-formation-listing .ui-selected { background: #F39814; color: white; }
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
/*.formation-error-message{
    height: 20px;
    width: 100%;
}*/
.modal form{
    margin-top: 10px;
}
.modal-header{
    background-color: #337ab7;
    color: white;
}
#myDeleteFormationModal .modal-body{
    padding-top: 15px;
}
/*#save-formation-form{
    margin-top: 10px;
}*/
/*This is the field position CSS*/

/* This is the left side draggable content CSS*/
.player-positions header{
    text-align: center;
    color: white;
    font-weight: bold;
}
.player-positions ul[class^="positions-ul"]{
    padding: 8px 32px 8px 32px;
    width: 250px;
}
.position{
    position: relative;
    list-style: none;
    border: 2px dotted white;
    text-align: center;
    margin-bottom: 5px;
    color: white;
}
.player-filled, .players-dropdown{
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
}
.slot-filled{
    border: 2px solid white;
}
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
main {
    transition: margin-left .5s;
    padding: 20px;
}

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

#mySidenav.sidenav.screenAdjust{
    width: 250px;
}
#main.screenAdjust{
    margin-left: 250px;
}
/*#main{
    position: relative;
    z-index: 5;
}*/
/*#main{
    background-image: url("../images/soccer-banner-3.jpeg");
    background-position: 0 -80px;
    background-repeat: no-repeat;
    background-size: 100% 10vh;
    background-size: cover;
}*/
.header-banner{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 10vh;
    background-size: cover;
    background-image: url("../images/soccer_ball.jpg");
    /*background-color: black;*/
    /*background: rgba(255, 255, 255, 255, .5);*/
    opacity: 0.5;
    filter: alpha(opacity=50);
    /*background-position: 0 -80px;*/
   /* background-repeat: no-repeat; */
}
.rosters, .team, .formation-listing{
    /*position: relative;
    z-index: -1;*/
    padding: 5px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    /*opacity: .5;*/
}
#roster-table_wrapper, #team-table_wrapper{
    color: white;
}
.table-container-div{
    padding-bottom: 10px;
    border: none;
}
/*#roster-table tbody{
    color: black;
}*/
/*th.sorting_asc::after{
    color: rgba(255,255,255, 1);
}*/
html, body{
    width: 100%;
    height: 100%;
}
#team-table, #roster-table{
    background-color: white;
    color: black;
}
.main-background{
    position: absolute;
    top: 10vh;
    z-index: -1;
    width: 100%;
    height: 90vh;
    /*background-size: cover;*/
    background-image: url("../images/grass.jpg");
    /*background-color: green;
    opacity: .5;*/    
}
/*#main header{
    position: relative;
    z-index: 2;*/
    /*background-color: black;
    opacity: .5;
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;*/
/*}*/
.main-header-text, .roster-label, .formation-label{
    color: black;
}
.hamburger-button{
    display: none;
}
.players-dropdown, #players-dropdown1, #players-dropdown2, #players-dropdown3, #players-dropdown4, #players-dropdown5,
#players-dropdown6, #players-dropdown7, #players-dropdown8, #players-dropdown9, #players-dropdown10, #players-dropdown11{
    display: none;
    width: 100%;
}
/*.players-dropdown{
    position: relative;
}*/
/*.players-dropdown{
    position: relative;
    top: 0;
    bottom: 0;
}*/
/*#js-players-list li{
    position: absolute;
    z-index: 10000;
}*/
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    div.col-xs-12.visual-position-container{
        padding-left: 0%;
        padding-right: 0%;
    }   
}
@media screen and (max-width: 450px) {
    div.col-xs-12.visual-position-container{
        padding-left: 0;
        padding-right: 0;
    }   
    .roster-section > header span:first-child, .team-section > header span:first-child, .formations-section > header span:first-child{
        display: none;
    }
    /*.formation-listing .row .col-xs-4{
        width: 50%;
    }*/
    /*.formation-container{
        margin-top: 10px;
    }*/
    #main{
        padding-left: 10px;
        padding-right: 10px;
    }
    .players-dropdown, #players-dropdown1, #players-dropdown2, #players-dropdown3, #players-dropdown4, #players-dropdown5,
#players-dropdown6, #players-dropdown7, #players-dropdown8, #players-dropdown9, #players-dropdown10, #players-dropdown11{
        display: block;
    }

    .player-positions .positions-ul1, .player-positions .positions-ul2, .player-positions .positions-ul3, .player-positions .positions-ul4
.player-positions .positions-ul5, .player-positions .positions-ul6, .player-positions .positions-ul7, .player-positions .positions-ul8, .player-positions .positions-ul9,
.player-positions .positions-ul10, .player-positions .positions-ul11{
    position: relative;
}
.player-positions .positions-ul1{
    z-index: 100;
}
.player-positions .positions-ul2{
    z-index: 99;
}
.player-positions .positions-ul3{
    z-index: 98;
}
.player-positions .positions-ul4{
    z-index: 97;
}
.player-positions .positions-ul5{
    z-index: 96;
}
.player-positions .positions-ul6{
    z-index: 95;
}
.player-positions .positions-ul7{
    z-index: 94;
}
.player-positions .positions-ul8{
    z-index: 93;
}
.player-positions .positions-ul9{
    z-index: 92;
}
.player-positions .positions-ul10{
    z-index: 91;
}
.player-positions .positions-ul11{
    z-index: 90;
}
.player-positions .positions-ul12{
    z-index: 89;
}

/*list items for player positions*/
.position{
    position: relative;
}
.position[data-position="1"]{
    z-index: 100;
}
.position[data-position="2"]{
    z-index: 99;
}
.position[data-position="3"]{
    z-index: 98;
}
.position[data-position="4"]{
    z-index: 97;
}
.position[data-position="5"]{
    z-index: 96;
}
.position[data-position="6"]{
    z-index: 95;
}
.position[data-position="7"]{
    z-index: 94;
}
.position[data-position="8"]{
    z-index: 93;
}
.position[data-position="9"]{
    z-index: 92;
}
.position[data-position="10"]{
    z-index: 91;
}
.position[data-position="11"]{
    z-index: 90;
}
    .position{
        height:34px;
        border: 2px solid white;
    }
    .player-positions div div:last-child .position{
        height: auto;
    }
    /*.player-filled{
        position: relative;
    }*/
    .positions-ul12 .position{
        z-index: 10;
    }
    .js-players-list{
        margin-left: -3px;
    }
    .players-dropdown{
        z-index: 10000;
    }
    .js-player-item[data-value="empty"]{
        border-bottom: 1px dotted black;
    }
    /*.visual-position{
        word-wrap: break-word;
        letter-spacing: 20px;
    }*/
    span.roster-button-text, span.formation-button-text{
        max-width: 66px;
    }
}
@media (max-width: 515px){
    #rosters-dropdown span, #formations-dropdown span{
        display: inline-block;
        vertical-align: middle;
    }
    .roster-button-text, .formation-button-text{
        max-width: 80px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .js-formation-list-container .formation-label, .js-roster-list-container .roster-label{
        display: none;
    }
}
@media (max-width: 686px){
    #mySidenav.sidenav, .closed-nav{
        width: 0px;
    }
    #mySidenav.sidenav.screenAdjust{
        width: 100%;
    }
    #main .screenAdjust, #main{
        margin-left: 0;
    }
    #mySidenav.sidenav ul[class^="positions-ul"]{
        margin: 0 auto;
    }
    .closed-nav.glyphicon{
        display: none;
    }
    .hamburger-button{
        display: block;
        position: fixed;
        bottom: 5px;
        left: 10px;
        z-index: 19999;
    }
    .navbar-toggle{
        background-color: black;
        border-color: white;
    }
    .navbar-toggle .icon-bar{
        background-color: #cccccc;
    }
}
@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}